html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#header{
    background-color: #031633;
    color: white;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

button{
    margin-left: 5px;
}

.col{
    border:1px solid darkblue;
}

#matrix-part{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-child{
    flex: 1;
    padding: 10px;
}

#matrix-calculate-button{
    margin-bottom: 40px;
}

@media only screen and (max-width: 768px){
    #company-input-section{
        display: inline-flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}